modules = ["web", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend Server"

[[workflows.workflow]]
name = "Web Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx -y serve . -p 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "Backend Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 3001

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
publicDir = "."

[userenv]

[userenv.shared]
CLOUDINARY_CLOUD_NAME = "Untitled"
CLOUDINARY_API_KEY = "113611698243934"
CLOUDINARY_API_SECRET = "CxOjTNQ6uIvRg2QWsrOT-I95lJY"
IMGBB_API_KEY = "baf409d03cf4975986f6d44b5a1a2919"
